header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: rgb(52, 143, 112);
}
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(27, 25, 25);
}
.ul-main{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}
.menu{
    display: none;
}
a{
    text-decoration: none;
    color: rgb(52, 143, 112);
    font-size: 25px;
}
.messi{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 0%;
}
.messi2{
    display: none;
}
.div-futgod{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: aliceblue;
    background-image: url(../assets/cesped2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-pelotanike{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/pelota-nike.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem;
}
.logoAdidas{
    width: 6rem;
    height: 5rem;
}
.logoNike {
    width: 6rem;
    height: 5rem;
}
.logoPuma {
    width: 6rem;
    height: 5rem;
}
.logoMas {
    width: 6rem;
    height: 5rem;
}
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "h2 h2 img"
    "h2 h2 img"
    "p p p"
    ;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(52, 143, 112);
    }
.imagenes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}
.whatsapp{
    width: 2rem;
    height: 2rem;
}
.facebook{
    width: 2rem;
    height: 2rem;
}
.insta{
    width: 2rem;
    height: 2rem;
}
.twiter{
    width: 2rem;
    height: 2rem;
}


.header-login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10rem;
    background-color: black;
    color: rgb(52, 143, 112);
}
.ul-login{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}
.section-gif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    gap: 3rem;
    font-size: 2rem;
    padding-bottom: 5rem;
    color: rgb(83, 241, 189);
    background-image: url(../assets/giphy.gif);
    background-position: center;
    background-size: cover;
}
.div1{
    padding: left 20px;;
}
.div2{
    padding: 1rem 0 1rem 0;
    gap: 1rem;
}
.div3{
    padding: 1rem 0 1rem 0;
}
.footer-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: black;
    color: rgb(52, 143, 112);
}

h1{
    transition: .5s linear;
}
h1:hover{
    margin-left: 1rem;
    text-shadow: 0 0 2rem cyan;
}



.header-camisetas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: black;
    color: rgb(52, 143, 112);
}
.nav-equipos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 25, 25);
}
.ul-equipos{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}
.section-camisetas{
    background-image: url(../assets/fondo-camisetas.gif);
    background-size: cover;
}
.div-equipos{
    display: flex;
    justify-content: center;
    color: rgb(52, 143, 112);
    font-size: 3rem;
}
.ultimodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.footer-camisetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
    background-color: black;
    color: rgb(52, 143, 112);
}



.div-socio{
    color: floralwhite;
    height: 50rem;
    font-size: 30px;
    background-image: url(../assets/fondo-socio.gif);
    background-position: center;
    background-size: cover;
}
.div-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    padding: 4rem;
}
.section-socio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-futgodclub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color: black;
    color: rgb(52, 143, 112);
}




@media (max-width: 768px){
    .buscador{
        display: none;
    }
    .li{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .messi{
        display: none;
    }
    .messi2{
        display: block;
        width: 100%;
        height: auto;
    }
    .div-futgod{
        font-size: 2rem;
    }
    .logoAdidas{
        width: 4rem;
        height: 4rem;
    }
    .logoNike {
        width: 4rem;
        height: 4rem;
    }
    .logoPuma {
        width: 4rem;
        height: 4rem;
    }
    .logoMas {
        width: 4rem;
        height: 4rem;
    }
    .div-pelotanike{
        width: 100%;
        height: 20;
    }
    .nav-equipos{
        width: 100%;
        height: 3rem;
    }
    .ul-main{
        display: none;
        /* flex-direction: column;
        justify-content: center; */
    }
    .li{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu{
        display: flex;
        width: 2rem;
        height: 2rem;
    }


}
@media (max-width: 426px){
    .login{
        display: none;
    }
    .div-equipos{
        font-size: 15px;
    }
}